@font-face {
    font-family: 'yekan'; /* هر نامی که راحتید انتخاب کنید */
    src: url('../font/PeydaWeb-Bold.woff') format('woff2'),
         url('../font/PeydaWeb-Bold.eot') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

:root{
    --colorOne:#b2a088;
    --colorTwo:#faf9f7;
    --colorThree:#336435;
    --colorFour:#faf9f7;
    --colorFive:#f2ebe1;
    --colorSix:#5e6973;
    --boxShadow:  5px 5px 15px 0px rgba(0, 0, 0, 0.20);
}

body{
    font-family: yekan;
}
.top{
    height: 50px;
    background-color: var(--colorTwo);
    padding: 0 7%;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    >div{
        width: 150px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
       svg{
        color: var(--colorOne);
       }
       p{
        color: var(--colorSix);
       }
   }
}
header{
    width: 100%;
    .header-p1{
        width: 100%;
       height: 100px;
        padding: 20px 5%;
        justify-content: space-between;
        align-items: center;
            >h4{
                color: var(--colorSix);
                font-size: 24px;
            }
        .p-one{ 
            height: 100%;
            display: flex;
            align-items: center;
            border: 2px solid var(--colorOne);
            border-radius: 50px;
            >a{
                color: var(--colorSix);
                font-size: 18px;
            }
            &:nth-of-type(1){
                width: 50%;
                height:80%;
                overflow: hidden;
                
                >a{
                    width:80%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                }
                div{  
                    width: 20%;
                    height: 100%;
                    background-color: var(--colorOne); 
                    >svg{
                        width: 60px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        color: #f7f7f7;
                    }
                }
            }
             &:nth-of-type(2){
                width: 25%;
                height: 80%;
                padding: 0 15px;
                justify-content: space-between;
                >div{
                    width: 60%;
                    margin:0 10px;
                    justify-content: space-between;
                    
                    &:nth-of-type(1){
                        width: 70%;
                        color: var(--colorSix);
                    }
                    &:nth-of-type(2){
                        width: 20%;
                        color: var(--colorOne);
                    }
                }
            }
            
        }
    }
    >nav{
       height: 60px;
        background-color:var(--colorFour);
        box-shadow: var(--boxShadow);
        position: relative;
        >.navigation{
            justify-content: space-evenly;
               .menu:hover{
                .list{
                    height: 150px;
                    padding: 10px;
                    color: #b2a088;
                    background-color: var(--colorFour);
                    z-index: 111; 
                }
            }
            li{
                width: 100px;
                height: 100%;
                color: var(--colorSix);
                >a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    position: relative;
                }
                &:hover {
                   >a{
                    color: #b2a088;
                   }
                }
                >a::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color:var(--colorOne);
                    transition: width 1s ease;
                }
                &:hover {
                    > a::after{
                      width: 100%;
                    }
                  
                }
            }
            .list{
                position: absolute;
                width: 80%;
                height: 0;
                right: 0;
                margin: 0 10%;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                justify-content: center;
                transition: 1s;
                border-radius: 0 0 10px 10px;
                >li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 50px;
                    >a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                    }
                }
            }
        }

     }
}
main{
    width: 100%;
    .wave1{
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        height: 100px;
        bottom: 0;
    }
    .wave2{
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
    }
    .first-part{
        width: 100%;
        height: 600px;
        background-image:url(../images/background1.jpg) ;
        position: relative;
       >.box{
            width:550px;
            height: 250px;
            border-radius: 100px 20px 20px 100px;
            padding: 30px;
            position: absolute;
            right: 40px;
            top: 100px;
            box-shadow: var(--boxShadow);
    
            >h4{
                font-size: 50px;
                font-weight: 500;
                color: var(--colorSix);
            }
            >p{
                font-size: 30px;
                color: var(--colorThree);
            }
            >div{
                width: 100%;
                height: 50px;
                margin-top: 20px;
                border-radius: 100px 20px 20px 100px ;
                box-shadow: var(--boxShadow);
                >p{
                    width: 60%;
                    height: 100%;
                    right: 0;
                    font-size: 18px;
                    color:var(--colorSix);
                    background-color:#d9d5c9 ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px 20px 20px 100px ;
                }
                div{
                    overflow: hidden;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    >a{
                        color: var(--colorSix);
                    }
                    >svg{
                        color: var(--colorThree);
                    }
                }
            }
        }
        >.figures{
            position: absolute;
            width: 450px;
            height: 450px;
            left: 150px;
            top: 120px;
            border-radius: 50%;
            box-shadow: var(--boxShadow);
            >p{
                position: absolute;
                width: 180px;
                height: 350px;
                border-radius: 80px;
                top: -90px;
                right: 10px;
                padding: 30px;
                justify-content: center;
                color: #f2ebe1;
                font-size: 26px;
                background-color: #336435;
            }
            >.images{
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 50%;
                 background-color: #f2ebe1;
                >img{
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    z-index: 1;
                    overflow: hidden;
                }
                >img:nth-of-type(1){
                    left: 70px;
                    bottom: 0;
                    z-index: 222;
                }
                >img:nth-of-type(2){
                    right: 50px;
                    bottom: 40px;
                    width: 180px;
                    height: 180px;
                }
                >img:nth-of-type(3){
                    right: -110px;
                    bottom: 70px;
                    height:400px;
                    width: 350px;
                }
                >img:nth-of-type(4){
                    left: 20px;
                    top: -70px;
                    width: 350px;
                    height: 350px;
                }
                >img:nth-of-type(5){
                    left: -100px;
                    top: 40px;
                    width: 350px;
                    height: 350px;
                }
                >img:nth-of-type(6){
                    width: 150px;
                    height: 150px;
                    right: 150px;
                    top: 40px;
                }
            }
        }
        }
    .second-part{
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
         background-color: #fcfcfc;
        svg{
            color: var(--colorThree);
            width: 40px;
            height: 40px;
            fill: #336435;
        }  
      >div{
            width: 250px;
            height: 60px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-left: 1px solid #4f57611e;
            color: #3d444b;
            div:first-of-type{
                h4{
                font-weight: 700;
                font-size: 20px;
               }
               >p{
                font-size: 14px;
               }
            }
            &:last-of-type{
                border-left: none;
            }
        }
    }
    .third-part{
        height:500px;
        position: relative;
        background-image: url(../images/background1.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            position: absolute;
            width: 70px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:first-of-type{
                left: 200px;
            }
            &:last-of-type{
                right: 200px;
            }
            svg{
                width: 100%;
                height: 50px;
                color: var(--colorOne);
            }
        }
        >p{
            position: absolute;
            cursor: pointer;
            left: 50px;
            width: 120px;
            height: 250px;
            border-radius: 50px;
            color: var(--colorThree);
            font-size: 22px;
            font-weight: 700;
            background-color: var(--colorFour);
            padding: 15px;
            display: flex;
            align-items: center;
            box-shadow: var(--boxShadow);
        }
        >div{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            gap: 30px;
            
        >figure:hover{
           &::after{

               opacity: 0.20;
           }
                
           
        }
            >figure::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #0e0e0e;
                opacity: 0;
                border-radius: 10px;
                transition: .3s;}
            >figure{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 10px;
                border-radius: 10px;
                width: 150px;
                height: 250px;
                background-color: #f7f7f7;
                box-shadow: var(--boxShadow);
                >img{
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                >p{
                    color: var(--colorSix);
                    font-size: 16px;
                }
                >figcaption{
                    color: #3d444b;
                    font-size: 20px;
                }
            }
        }
    }
    .space{
        height: 50px;
        background-color:#fcfcfc;
    }
    .fourth-part{
        position: relative;
        height: 450px;
        justify-content: space-around;
        align-items: center;
        padding: 50px 5%;
        background-size: 400px;
        background-image: url(../images/background2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    

        .background2{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
           background: linear-gradient(to left, #c2beb4, #d9d5c9,#d9d5c9,#d9d5c936, #d9d5c927);
        }
        .wave1,.wave2{
            z-index: 2;
        }
        >.midpart{
            width: 100%;
            height: 70%;
            z-index: 22;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            >div{
                width: 120px;
                height: 80%;
                position: relative;
                border-radius: 60px;
                cursor: pointer;
                background-color: var(--colorFive);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: transform 0.3s ease;
                &:hover{
                    transform: scale(1.1);
                    transition: transform 0.3s ease;
                    &::after{
                        width: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 100%;
                    border-bottom: 4px solid var(--colorThree);
                    border-radius: 60px;
                    transition: opacity 0.3s ease;
                }
                >img{
                    width: 50px;
                    height: 50px;
                }
                >p{
                    color: var(--colorSix);
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }

        }

    }
    .fifth-part{
        >div figure p {
            &:nth-of-type(1){
                    text-decoration: line-through;
            }
               &:nth-of-type(2){
                    color: red;
            }
        }
    }
    
}
footer{
    width: 100%;
    height: 400px;
    background-image: url(../images/background3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     
    >div{
        background-color: #ffffff38;
        width:80%;
        height:80%;
        right: 0;
        border-radius: 30px;
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        >.sess{
            width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            color: var(--colorFour);
            >h3{
                padding: 10px;
                font-size: 22px;
            }
            &:nth-of-type(1){
                line-height: 25px;
                font-size: 14px;
            }
            &:nth-of-type(2){
                display: flex; 
                gap: 20px;
               >div{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                cursor: pointer;
                position: relative;
                 /* svg title{
                    position: absolute;
                    top: 10px;
                    width: 100px;
                    height: 10px;
                    background-color: #ffffffe5;
                    padding: 10px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    transition: background-color 0.3s ease;
                } */
                svg:hover{
                    &:nth-of-type(1){
                        color: var(--colorOne);
                    }
                }
               }
            }
            &:nth-of-type(3){
                >ul{
                padding: 0 15px;

                }
            }

        }
        
        >img{
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}
.buttom{
    width: 100%;
    height: 50px;
    display: flex;
    background-color:#2a3934;
    justify-content: center;
    align-items: center;
    >p{
        width: auto;
        color: var(--colorFour);
        font-size: 14px;
    }
}