:root{
    --firstColor :rgb(248, 246, 242) ;
    --secondColor :rgb(178, 160, 136) ;
    --thirdColor :rgb(243, 234, 222);
    --fourthColor :rgb(134, 145, 149);
    --fifthColor :rgb(51, 100, 53) ;
}
svg{
    width: 25px;
    height: 25px;
}
.head_site{
    width: 100%;
    height: 50px;
    background-color:var(--firstColor);
    color: var(--secondColor);
    justify-content:space-between;
    padding:10px 25px;
    svg{
        width: 25px;
        height: auto;

    }
    .telephone{
        display: flex;
        background-color: aquamarine;
        align-items: center;
        >h4{
            margin-right: 10px;
        }
    }
}
header{
    width: 100%;
    justify-content: space-between;
    direction: rtl;
    >div{
        height: 10%;
        justify-content: space-between;
        padding:10px 20px;
        align-items: center;
        h2{
            color: var(--fourthColor);
            padding-right:10px;
        }
        >section{
            height: 40px;
            background-color: var(--firstColor);
            border: 2px solid var(--secondColor);
            color: var(--secondColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 50px;
            overflow: hidden;
        }
        .shop{
            width: 20%;
            padding: 10px;
        }
        .search{
            width: 40%;
            >form{ 
                padding-right: 10px;
                width: 80%;
                display:block;
                height: 100%;
                display: flex;
                >input{
                    background-color: inherit;
                    border: none;
                }
           }
            >svg{
                width: 20%; 
                height: 100%;
                background-color: var(--secondColor);
                color:antiquewhite ;
            }
        }
    }
    >ul{ height: 50px;
        justify-content: space-between;
        background-color:var(--firstColor);
        /* box-shadow: ; */
        >li{ width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid red;

        }
    }
}


